*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    font-family:  Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #f5f5f5;
}
header nav {
    background-color: #000;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo{
    color: #fff;
    text-decoration: none;
}

header nav .menu ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

header .hero {
    background-image: url(/img/capa.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero #formsearch{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero #formsearch input{
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
}

main {
    margin:  20px 0px;
}

main .container h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
main .container .fifa{
    display: flex;
    flex-direction: column;
}



.fifa{
    background-color:#fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.fifa img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 5px;
}
.fifa h4{
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.fifa p{
    padding: 0px;
    font-size: 1rem;

}

.fifa button{
    width: 50px;
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: 1px solid rgba(0,0,0,.3);
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.fifa:hover{
    background-color: #f5f5f5;
}

.fifa button:hover {
    background-color: #dedede;
    color: #000;
}

footer{
    padding: 10px 0px;
}

footer .container p{
    text-align:center ;
    font-weight: bold;
}

.hero-sobre .container{
    display: flex;
    justify-content:center ;
    align-items: center;
}



/*container*/
.container{
    width: 90vw;
    margin: 0px auto;
}